#objects {
    width: 270px;
}

#objList {
    height: 440px;
    overflow-y: scroll;
}

#proList {
    height: 440px;
    overflow-y: scroll;
}

.items {
    border: 1px solid #000000;
    text-align: center;
    font-size: 20px;
}

#myCanvas {
    border: 1px solid #000000;
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: 500px

    /* border:1px solid #000000;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 800px; */
}

#properties {

}

#createProjectBar {
    position: absolute;
    right: 20px;
    display: block;
}